<!-- <div class="container" >
<div class="row" style="position: relative;">
  <app-nav></app-nav>
</div>
</div>
<div class="container" >
  <div class="row" style="position: relative; ">
    <ul>
      <li *ngFor="let user of users">{{user.id}}➡️{{user.userName}}</li>
    </ul>
  </div>
</div> -->

<app-nav></app-nav>

<div class="container">
  <div class="row" style="position: relative; ">
    <ul style="position: absolute; top: 100%;">
      <li *ngFor="let user of users">{{user.id}}➡️{{user.userName}}</li>
    </ul>
  </div>
</div>
